.idea/dataSources/2a40f6e8-88e4-4ddf-86bc-3fc084d8fe85/storage_v2/_src_/database/ekalem.uQNrsg/schema/information_schema.FNRwLQ.meta
.idea/workspace.xml
/.idea
/.claude
.env
static/flutter-web/
static/template/
